/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Begin theme styles */

body {
  height: 100%;
  background: radial-gradient(#98bbff, #FCF8F8);
  text-align: center;
}

html a {
  color: #556efc;
}

.skip-link {
  display: none;
}

header {
  padding: 10vh 0;
  color: white;
}


header h1 {
  font-family: "Handjet", 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-shadow: 2.5px 2.5px 1px black;
  text-transform: uppercase;
  font-size: 5.5em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

header h2 {
  font-family: "Handjet", 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px 2px 1px black;
  font-size: 2.25em;
  max-width: 60%;
  text-wrap: wrap;
  justify-self: center;
  line-height: 1;
}

header p {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  color: black;
}

header a {
  color: #556efc;
}


.link-github, .link-twittercontact, .link-rss, .link-support {
  display: inline-flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  gap: 0.5em;
  margin: auto;
  background: linear-gradient(#FCF8F8, #a5ff8b);
  text-decoration: none;
  padding: 0.25em 0.5em;
  border: 1px solid black;
  border-width: 1px 3px 3px 1px;
  border-radius: 25px;
  color: black;
  cursor: pointer;
}

.link-github svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.link-github:hover {
  border-width: 1px 5px 5px 1px;
  background: linear-gradient(#FCF8F8, #5bc33e);
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1em;
}



nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3vh;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1em;
  padding: 0;
  margin: 0;
  font-family: "Handjet", "Times New Roman", serif;
}


nav a {
  display: inline-block;
  background: linear-gradient(#FCF8F8, #98bbff);
  font-size: 1.3em;
  text-decoration: none;
  padding: 0.25em 0.5em;
  border: 1px solid black;
  border-width: 1px 3px 3px 1px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
  background: linear-gradient(#FCF8F8,rgb(74, 116, 201));
}



#main, .profile, #styles, footer {
  max-width: 100ch;
  justify-self: center;
  padding: 5vh;
  font-family: "Handjet", "Times New Roman", serif;
}

#main h2 {
  color: white;
  line-height: 1.5;
  text-shadow: 2.5px 2.5px 1px black;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: normal;
}

#main p {
  color: black;
  font-size: 1.75em;
  letter-spacing: 0.025em;
}


#about ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  list-style: none;
  padding-left: 0;
}

#about ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  background: linear-gradient(#FCF8F8, #a5ff8b);
  padding: 0.5em;
  border: 1px solid black;
  border-width: 1px 3px 3px 1px;
  border-radius: 10px;
  color: black;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  min-width: 0;
  font-family: Helvetica, sans-serif;
  font-style: italic;
}

